.container-buttons {
  display: flex;
  gap: 1rem;
}

.container-group-buttons {
  display: flex;
  gap: 5rem;
  margin: 1rem;
}

.container-sudoku-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

