.container-buttons {
  display: flex;
  gap: 1rem;
}

.container-group-buttons {
  display: flex;
  gap: 5rem;
  margin: 1rem;
}

.container-sudoku-solution {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
}

@media screen and (max-width: 750px) {
  .board-sudoku > input,
  .board-sudoku > button {
    width: 25px;
    height: 25px;
    font-size: 0.7rem;
  }

  .container-group-buttons {
    gap: 0.5rem;
  }
}
