.footerSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 1rem;
  color: var(--color-contrast);
  margin: 1rem;
}

.icon-rrss {
  display: flex;
  gap: 1rem;
}

.icon-rrss img {
  width: 4rem;
}

.icon-rrss img:hover {
  animation: side 1s ease-in-out;
}

@keyframes side {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

@media screen and (max-width: 750px) {
  .footerSection {
    padding: 0 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .icon-rrss img {
    width: 3rem;
  }
}
