.container-sudoku {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 1rem;
}

.board-sudoku {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  justify-content: center;
  transition: all 1s ease;
  border: 5px solid var(--color-terciary);
}

.board-sudoku > input,
.board-sudoku > button {
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: 1.5rem;
  transition: all 1s ease;
}

@media screen and (max-width: 750px) {
  .board-sudoku > input,
  .board-sudoku > button {
    width: 25px;
    height: 25px;
    font-size: 1rem;
  }

  .container-group-buttons {
    gap: 0.5rem;
  }
}

.board-sudoku > input:focus {
  background-color: var(--color-pointer);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:invalid {
  border: 6px solid var(--color-error);
}

.board-sudoku-solve {
  display: grid;
  grid-template: repeat(9, 1fr) / repeat(9, 1fr);
  align-content: center;
  justify-content: center;
  transition: all 1s ease;
  border: 6px solid var(--color-terciary);
  display: none;
}

.visible {
  display: grid;
}

.board-sudoku-solve > button {
  width: 20px;
  height: 20px;
}

.container-sudoku button {
  pointer-events: none;
}

.board-sudoku input,
button {
  margin: 1px;
}

.casilla2,
.casilla11,
.casilla20,
.casilla29,
.casilla38,
.casilla47,
.casilla56,
.casilla65,
.casilla74 {
  border-right: 4px solid var(--color-terciary);
}

.casilla6,
.casilla15,
.casilla24,
.casilla33,
.casilla42,
.casilla51,
.casilla60,
.casilla69,
.casilla78 {
  border-left: 4px solid var(--color-terciary);
}

.casilla18,
.casilla19,
.casilla20,
.casilla21,
.casilla22,
.casilla23,
.casilla24,
.casilla25,
.casilla26 {
  border-bottom: 4px solid var(--color-terciary);
}

.casilla45,
.casilla46,
.casilla47,
.casilla48,
.casilla49,
.casilla50,
.casilla51,
.casilla52,
.casilla53 {
  border-bottom: 4px solid var(--color-terciary);
}