.container-initial-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  animation: reveal 1s ease-in-out;
}

.container-letter {
  width: 80%;
  text-align: center;
}

.button-selected {
  background-color: var(--color-background);
  pointer-events: none;
  user-select: none;
}
