:root {
  --color-primary: #424769;
  --color-background: #2d3250;
  --color-secondary: #f9b17a;
  --color-terciary: #676f9d;
  --color-contrast: whitesmoke;

  --color-error: red;
  --color-pointer: #91ff9199;

  --font-text: "Raleway", sans-serif;
  --font-title: "Permanent Marker", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  color: inherit;
  font-family: var(--font-text);
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-background);
}

@keyframes reveal {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
